.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headerleftblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.headerrightblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logoblock {
  width: 150px;
  margin-top: 25px;
  margin-right: 23px;
  margin-bottom: 25px;
}

.actionbutton {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #2b3748;
  font-family: Averta, sans-serif;
  font-size: 12px;
  line-height: 11px;
  font-weight: 600;
}

.menudropdownbuttonblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  margin-left: 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.text-block {
  font-size: 14px;
  letter-spacing: -0.3px;
}

.menuitemtext {
  letter-spacing: -0.2px;
}

.div-block {
  width: 10px;
  margin-left: 3px;
}

.titleblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 42%;
  padding-bottom: 50px;
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-size: 32px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.8px;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainpostimaeblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 380px;
  margin-right: 22px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainpostdatablock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 32%;
  padding: 44px 45px 31px 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #f7f7f9;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.categoryblock {
  font-family: Averta, sans-serif;
  color: #7f57f3;
  font-size: 8px;
  line-height: 14px;
  font-weight: 800;
}

.mainposttitleblock {
  margin-top: 2px;
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-size: 32px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.8px;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainpostcontentblock {
  margin-top: 15px;
  font-family: Averta, sans-serif;
  color: #4f545c;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.3px;
}

.text-block-4 {
  margin-top: 13px;
  font-size: 11px;
}

.posttimestampblock {
  margin-top: 10px;
  font-family: Averta, sans-serif;
  color: #bebed1;
  font-size: 10px;
}

.postsgridsection {
  padding-bottom: 72px;
}

.grid {
  margin-top: 32px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -o-object-fit: contain;
  object-fit: contain;
}

.gridelementblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gridelementimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

.gridelementdatablock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f7f7f9;
}

.gridposttitleblock {
  margin-top: 1px;
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.8px;
  -o-object-fit: contain;
  object-fit: contain;
}

.gridelementimage-copy {
  height: 150px;
  background-image: url('../images/ExampleMainPostImage.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image {
  -o-object-fit: cover;
  object-fit: cover;
}

.subcontainer {
  margin-right: 120px;
  margin-left: 120px;
}

.openpostimagecontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 45px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.titlespacingblock {
  margin-top: 40px;
  margin-bottom: 10px;
}

.contentspacingblock {
  margin-top: 34px;
  margin-bottom: 80px;
}

.text-block-5 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Averta, sans-serif;
  color: #2b3748;
  line-height: 16px;
  text-align: justify;
}

.subtitle {
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-size: 25px;
  line-height: 43px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.separator {
  height: 2px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #dae3ef;
}

.contentimageblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 390px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-3 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.slogansection {
  padding-top: 23px;
  padding-bottom: 23px;
  background-image: linear-gradient(77.86deg, #6255f7, #8e5cb6);
}

.text-block-20 {
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 800;
  text-align: center;
}

.promosection {
  background-image: linear-gradient(77.86deg, #6255f7, #8e5cb6);
}

.promotitle {
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.1px;
}

.text-block-21 {
  margin-top: 7px;
  margin-bottom: 5px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.calltoactiobutton {
  display: inline-block;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 4px;
  background-color: #fc6562;
}

.calltoactiobutton.align {
  margin-top: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.calltoactionbtncntnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-13 {
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.image-10 {
  margin-left: 9px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.relatedtext {
  margin-top: 65px;
  margin-bottom: 25px;
  font-family: Averta, sans-serif;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.container-4 {
  font-family: Averta, sans-serif;
  color: #2b3748;
  font-weight: 700;
  text-align: center;
}

.gridelementdatablock-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f7f7f9;
}

.div-block-261 {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footertext {
  margin-bottom: 8px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: -0.2px;
}

.columns-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-12 {
  margin-bottom: 14px;
}

.column-261215 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-261216 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-262 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-left: 68px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 40px 54px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-19 {
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}

.div-block-260 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 75px;
  margin-left: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footersection {
  background-color: #2b3748;
}

.footertexttitle {
  margin-bottom: 7px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.div-block-263 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-icon {
  margin-right: 6px;
  margin-left: 6px;
}

@media screen and (max-width: 991px) {
  .titleblock {
    padding-right: 25%;
  }

  .subcontainer {
    margin-right: 60px;
    margin-left: 60px;
  }

  .openpostimagecontainer {
    margin-right: 20px;
    margin-left: 20px;
  }

  .div-block-261 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-260 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .titleblock {
    padding-right: 15%;
    padding-left: 10px;
  }

  .mainpostsection {
    padding-right: 20px;
    padding-left: 20px;
  }

  .mainpostimaeblock {
    height: 280px;
    margin-right: 10px;
  }

  .mainpostdatablock {
    max-width: 45%;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 20px;
  }

  .grid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    -ms-grid-columns: 45% 45%;
    grid-template-columns: 45% 45%;
  }

  .gridelementdatablock {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .gridposttitleblock {
    font-size: 16px;
  }

  .openpostimagecontainer {
    margin-right: 0px;
    margin-left: 0px;
  }

  .titlespacingblock {
    margin-top: 20px;
  }

  .subtitle {
    line-height: 30px;
  }

  .calltoactiobutton {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .text-block-13 {
    font-size: 13px;
    line-height: 25px;
  }

  .div-block-261 {
    margin-bottom: 38px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .footertext {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
  }

  .column-261215 {
    padding-right: 31px;
    padding-left: 30px;
  }

  .column-261217 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .column-261216 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-262 {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-8 {
    padding-top: 34px;
    padding-bottom: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-260 {
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .footertexttitle {
    font-size: 16px;
  }

  .div-block-263 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .menudropdownbuttonblock {
    display: none;
  }

  .titleblock {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 28px;
    line-height: 30px;
  }

  .mainpostsection {
    padding-right: 10px;
    padding-left: 10px;
  }

  .mainpostimaeblock {
    margin-right: 0px;
  }

  .mainpostdatablock {
    max-width: 100%;
    padding-top: 10px;
  }

  .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mainposttitleblock {
    font-size: 28px;
    line-height: 30px;
  }

  .mainpostcontentblock {
    margin-top: 10px;
  }

  .grid {
    -ms-grid-columns: 85%;
    grid-template-columns: 85%;
  }

  .gridelementdatablock {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .gridposttitleblock {
    line-height: 18px;
  }

  .subcontainer {
    margin-right: 20px;
    margin-left: 20px;
  }

  .openpostimagecontainer {
    margin: 0px;
  }

  .contentimageblock {
    height: 280px;
  }

  .slogansection {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .text-block-20 {
    font-size: 20px;
    line-height: 21px;
  }

  .promosection {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .promotitle {
    font-size: 24px;
  }

  .text-block-21 {
    margin-top: 4px;
    line-height: 16px;
  }

  .calltoactionbtncntnt {
    padding-right: 17px;
    padding-left: 24px;
  }

  .text-block-13 {
    margin-right: 12px;
  }

  .div-block-2 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .relatedtext {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .column-261215 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .column-261217 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .column-261216 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

#w-node-c2cd5d92-6c27-64f0-b9de-7841658122e5-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-efef473a-156d-3dbd-d724-fb25a14c0a4c-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8b49f1b1-e709-91c6-e901-3affe334da26-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92ae0b6b-7b71-d311-681d-905779e3e6cb-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6d08f606-e09b-dce7-12c6-7068f9fdd6b0-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6b2a0da4-137e-9790-3af1-9117fe21c8eb-3ae47531 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe8489943e-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe84899449-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe84899454-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe8489945f-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe8489946a-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e062ce76-85c9-43b3-b1be-5abe84899475-9a237293 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Extrathin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-ExtrathinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-ThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}